{% extends 'base.html.twig' %}

{% block title %}Page parser results{% endblock %}

{% block stylesheets %}
<style>
    body{
        font-family: Arial, Helvetica, sans-serif;
    }

    .grid {
        border: 5px solid #d1e231;
        display: grid;
        grid-template-columns: repeat(4, 150px);
        grid-template-rows: repeat(4, 150px);
    }

    .grid > * {
        background-color: #ffbf94;
        border-radius: 2px;
        margin: 1px;
    }

</style>
{% endblock %}

{% block body %}
    <div class="grid">
        {% for image in images %}
            <div>
                <img src="{{ image.url }}"  alt="{{ image.size }}"/>
            </div>
        {% endfor %}
    </div>

    <div>
        Общий размер: {{ totalSize }}
    </div>
{% endblock %}
